.cards{
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    border-width: 1px;
    background-color: #3369B0;
}

.cards__image{
    width: 350px;
    height: 250px;
}

.cards__body{
    background-color: #3369B0;
}

.cards__title{
    font-size: 16px;
}

.cards__description{
    font-size: 16px;
}

.cards__price{
    font-size: 16px;
}

.cards__footer{
    border-top-style: solid;
    border-width: 1px;
    background-color: #3369B0;
}

.cards__stock{
    font-size: 16px;
} 
