.detalle{
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    width: 80%;
    display: grid;
    grid-template-columns: 40% 40%;
    align-content: center;
}

.detalle__img{
    height: 300px;
    width: 400px;
}

.detalle__datos{
    display: grid;
    grid-template-rows: 50% 50%;
}
.detalle__button {
    background-color: #3369B0;
    border-color: black;
    border-radius: 5px;
    height: 35px;
    width: 110px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.ItemCount{
    margin-top: 30px;
}
.detalle__button2 {
    background-color: #3369B0;
    border-color: black;
    border-radius: 5px;
    height: 35px;
    width: 110px;
}