.restar{
    background-color: #3595FF;
    color: white;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    font-size: 20px;
}

.sumar{
    background-color: #3595FF;
    color: white;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    font-size: 20px;
}

.buttonAddToCart {
    width: 130px;
    height: 35px;
    background-color: #3595FF;
    border-color: #000000;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 3px;
    border-radius: 5px;
    
}