.restar{
    background-color: #3595FF;
    color: white;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    font-size: 20px;
}

.sumar{
    background-color: #3595FF;
    color: white;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    font-size: 20px;
}

.buttonAddToCart {
    background-color: #3369B0;
    border-color: black;
    border-radius: 5px;
    height: 35px;
    width: 110px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}